body{
  background-color: #33F9FF;
}

.div-1{
  background-color: #02503B;
  text-align: left;
}





label{
  color: white;
}
.div-2{
  background-color: #02503B;
  text-align: center;
}

.photo{
  border-radius: 50%;
  border: 10px solid blue;
}
.navm {
  background-color: gray;
}
